body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #efdfcc;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #530b0e;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  color: #97a7ac;
  font-size: 56px;
  text-shadow: 2px, 2px, 4px, #647b84;
}

h2 {
  margin: 0;
  text-align: center;
  color: #530b0e;
  font-size: 36px;
  text-shadow: 2px, 2px, 4px, #647b84;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
  background-color: #efdfcc;
}

section {
  margin-bottom: 40px;
}

#container div {
  background-color: #97a7ac;
  color: #232c2e;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 27%;
  height: 375px;
  padding: 20px;
  margin: 20px;
}

p {
  color: #232c2e; 
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 0px;
}

h3 {
  color: #232c2e;
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 3px;
}

footer {
  background-color: #530b0e;
  color: #f1ebe4;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.home {
  background-color: #97a7ac;
  width: 40%;
  height: 600px;
  margin: auto;
  border-radius: 20px;
  margin-bottom: 50px;
  padding: 50px;
  text-align: center;
}

#container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  
}